snippets/=+Users=+seventh=+.cache=+dein=+.dein=+neosnippets=+_.snip
snippets/=+Users=+seventh=+.cache=+dein=+.dein=+neosnippets=+vim.snip
snippets/=+Users=+seventh=+.cache=+dein=+.dein=+neosnippets=+vim=+vital.snip
